<!DOCTYPE html>
<html ng-app="app" lang="zh-CN">
<head>
<!--<base href="/"/>-->
<meta charset="UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta name="format-detection" content="telephone=no"/>
<title>小跟班 - 和你一起寻找投资达人</title>
<meta name="keywords" content="小跟班，投资，金融，理财，跟投，跟单，交易，炒股，组合"/>
<meta name="description" content="小跟斑，最专业的跟投网站"/>
<!--<meta property="qc:admins" content="37432620776072166375" />-->
<link rel="stylesheet" href="/styles/rest.css"/>
<link rel="stylesheet" href="/styles/common.css"/>
<link rel="stylesheet" href="/styles/libs/angucomplete.css"/>
<link rel="stylesheet" href="/javascripts/libs/webuploader-0.1.5/webuploader.css"/>
<link rel="stylesheet" href="/javascripts/libs/jcrop/jquery.Jcrop.min.css"/>
<link rel="stylesheet" href="/javascripts/libs/umeditor/themes/default/css/umeditor.css"/>
<link rel="stylesheet" href="/javascripts/libs/PlyDialog/ply.css"/>
<link rel="stylesheet" href="/javascripts/libs/Swiper-3.2.0/css/swiper.min.css"/>
<link rel="stylesheet" href="/javascripts/libs/mmGrid/src/mmGrid.css"/>
<link rel="stylesheet" href="/javascripts/libs/mmGrid/src/mmPaginator.css"/>
<link rel="stylesheet" href="/javascripts/libs/JqueryPagination/jquery.pagination.css"/>
<link rel="stylesheet" href="/javascripts/libs/loaders/loaders.css">

<link rel="stylesheet" href="/styles/site.min.css"/>
</head>
<body ng-controller="appController">
<!--[if lt IE 10]>
<div class="isIE9" style="position: fixed;z-index: 33333;top: 0; left: 0; width: 100%; height: 100%; background-color: #f8f8f8;">
  <div class="dib tc" style="position: absolute;top: 50%;left: 0; width: 100%;margin-top: -80px;">
    <h2>亲爱的用户，小跟斑网站将不再兼容IE10浏览器以下版本</h2>
    <p class="mt10 f18 lh150">
      我们推荐更新至最新版本
      <a href="http://windows.microsoft.com/ie" target="_blank" style="color: #6cf;">Internet Explorer</a>
      ,
      <a href="http://rj.baidu.com/soft/detail/14744.html?ald" target="_blank" style="color: #6cf;">Google Chrome</a>
      , or
      <a href="http://www.firefox.com.cn/" target="_blank" style="color: #6cf;">Firefox</a>
      浏览器<br>
      如果你使用IE9版本以上的浏览器请忽略此提示
    </p>
  </div>
</div>
<![endif]-->
<!-- navbar -->
<div class="public-navbar">
  <div class="container">
    <div class="brand fl mr20">
      <a ui-sref="index">小跟班</a>
    </div>
    <ul class="navbar fl nols">
      <li ui-sref-active="active" ng-if="isLogin"><a ui-sref="home">我的主页</a></li>
      <li ui-sref-active="active" ng-if="isLogin"><a ui-sref="room">开始交易</a></li>
      <li ui-sref-active="active"><a ui-sref="rank">排行榜</a></li>
      <li ui-sref-active="active"><a ui-sref="forum">社区</a></li>
    </ul>
    <ul class="navbar fr nols">
      <!--<li class="sreach-form mr30">
        <form action="" method="GET">
          <input class="input-search" type="text" placeholder="股票/组合/用户">
          <button class="btn-search" type="submit"><i class="iconfont">&#xe610;</i></button>
        </form>
      </li>-->
      <li class="user dropdown" ng-if="isLogin">
        <a ui-sref="home">
          <img ng-src="[[ gUser.avatar ]]" alt="">
          <span ng-bind="gUser.name.first"></span> <i class="iconfont">&#xe629;</i>
        </a>
        <ul class="dropdown-menu nols">
          <li>
            <a ui-sref="home.setting"><i class="iconfont">&#xe62e;&nbsp;</i>个人设置</a>
          </li>
          <li>
            <a href="" ng-click="logout()"><i class="iconfont">&#xe62a;&nbsp;</i>退出登录</a>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active" ng-if="!isLogin"><a ui-sref="login">登录</a></li>
      <li ui-sref-active="active" ng-if="!isLogin"><a ui-sref="join">注册</a></li>
    </ul>
  </div>
</div> <!-- navbar end -->
<div class="wrap" ui-view=""></div>
<div ng-include="'/views/footer.html'"></div>
<!--<script data-main="/javascripts/main.js" src="/javascripts/require.js"></script>-->
<script src="/javascripts/libs/underscore/underscore-min.js"></script>
<script src="/javascripts/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/javascripts/libs/async.js"></script>
<script src="/javascripts/libs/EventEmitter.min.js"></script>
<script src="/javascripts/libs/moment.min.js"></script>
<script src="/javascripts/libs/loglevel.js"></script>
<script src="/javascripts/libs/webuploader-0.1.5/webuploader.min.js"></script>
<script src="/javascripts/libs/jcrop/jquery.Jcrop.min.js"></script>
<script src="/javascripts/libs/socket.io-1.3.5.js"></script>
<script src="/javascripts/libs/echarts-all.js"></script>

<script src="/javascripts/libs/Swiper-3.2.0/swiper.jquery.min.js"></script>
<script src="/javascripts/libs/PlyDialog/Ply.min.js"></script>
<script src="/javascripts/libs/countUp/dist/countUp.js"></script>
<script src="/javascripts/public.js"></script>

<script src="/javascripts/libs/mmGrid/src/mmGrid.js"></script>
<script src="/javascripts/libs/mmGrid/src/mmPaginator.js"></script>

<script src="/javascripts/libs/umeditor/umeditor.config.js"></script>
<script src="/javascripts/libs/umeditor/umeditor.min.js"></script>
<script src="/javascripts/libs/umeditor/lang/zh-cn/zh-cn.js"></script>

<script src="/javascripts/libs/JqueryPagination/jquery.pagination-1.2.7.min.js"></script>

<script src="/javascripts/charts.js"></script>
<script src="/javascripts/jsquant/message.js"></script>
<script src="/javascripts/jsquant/datastruct.js"></script>
<script src="/javascripts/jsquant/datasource.js"></script>
<script src="/javascripts/jsquant/app.js"></script>

<script src="/javascripts/libs/angular/angular.js"></script>
<script src="/javascripts/libs/angular-ui-router/release//angular-ui-router.js"></script>
<script src="/javascripts/services/services.js"></script>
<script src="/javascripts/controllers/controllers.js"></script>
<script src="/javascripts/controllers/room-controller.js"></script>
<script src="/javascripts/directives/directives.js"></script>
<script src="/javascripts/directives/angucomplete.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>

